@page
@{
    ViewData["Title"] = "Reportes";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">



        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Reporte a Ejecutar</h3>

                        <div class="card-tools">
                           
                           
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Esquema</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Esquema">
                                </div>
                                <!-- /.form-group -->

                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo Busqueda</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->

                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Clasificaión</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->

                            </div>
                            <div class="col-md-3" style="padding-top: 32px">
                                <button type="button" class="btn btn-block btn-success">Consultar</button>

                            </div>
                            <!-- /.col -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="mt-2 mb-3" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 style="padding-bottom: 20px" class="card-title">Favor de establecer criterio de búsqueda</h3>
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Esquema</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Esquema">
                                </div>
                                <!-- /.form-group -->

                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo Busqueda</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->

                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Clasificaión</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->

                            </div>
                            <div class="col-md-3" style="padding-top: 32px">

                                <button type="button" class="btn btn-block btn-success">Consultar</button>

                            </div>

                        </div>


                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->


            </div>
            <!--/.col (left) -->




        </div>
        <!--/.col (right) -->





    </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->