@page
@{
    ViewData["Title"] = "Servicio_al_cliente";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">



        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Favor de establecer criterio de búsqueda</h3>

                   
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Num_Cliente</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->

                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->

                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Igual a</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Esquema</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Esquema">
                                </div>
                                <!-- /.form-group -->

                            </div>
                            <div class="col-md-2" style="padding-top: 32px">
                                <button type="button" class="btn btn-block btn-success">Consultar</button>

                            </div>
                            <!-- /.col -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
               

            </div>
            <!--/.col (left) -->




        </div>
        <!--/.col (right) -->




    </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->