@page
@{
    ViewData["Title"] = "Grupos_detalle";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">Projects</h3>

                        <div class="card-tools">
                           

                          
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-sm table-striped projects">
                            <thead>
                                <tr>
                                   
                                    <th style="width: 25%">
                                        Grupo
                                    </th>
                                    <th style="width: 20%">
                                        Descripción
                                    </th>
                                    <th style="width: 20%">
                                        Método de Asignación
                                    </th>
                                    <th style="width: 20%">
                                        Registrar Gestión Todos Clientes
                                    </th>


                                    <th style="width: 15%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-active">
                                   
                                    <td>
                                        <a>
                                            Cobranza Externa 1
                                        </a>
                                        
                                    </td>
                                    <td>
                                        <a>
                                            Cobranza Externa 1
                                        </a>
                                    </td>
                                    <td class="project_progress">
                                        <a>
                                            Cobranza Externa 1
                                        </a>
                                    </td>
                                    <td class="Registrar-Gestión-Todos-Clientes">
                                        <a>
                                            No
                                        </a>
                                    </td>

                                    <td class="project-actions text-right">
                                        
        <a class="btn btn-danger btn-sm" href="#">
            <i class="fas fa-trash">
            </i>

        </a>
                                    </td>
                                </tr>

                                <tr>
                                    
                                    <td>
                                        <a>
                                            Cobranza Externa 2
                                        </a>
                                        <br />
                                        
                                    </td>
                                    <td>
                                        <a>
                                            Lorem Ipsum
                                        </a>
                                    </td>
                                    <td class="project_progress">
                                        <a>
                                            Lorem Ipsum
                                        </a>
                                    </td>
                                    <td class="Registrar-Gestión-Todos-Clientes">
                                        <a>
                                            No
                                        </a>
                                    </td>

                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" href="#">
                                            <i class="fas fa-pencil-alt">
                                            </i>

                                        </a>
                                        
                                        <a class="btn btn-danger btn-sm" href="#">
                                            <i class="fas fa-trash">
                                            </i>

                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    
                                    <td>
                                        <a>
                                            Cobranza Externa 2
                                        </a>
                                        <br />
                                       
                                    </td>
                                    <td>
                                        <a>
                                            Lorem Ipsum
                                        </a>
                                    </td>
                                    <td class="project_progress">
                                        <a>
                                            Lorem Ipsum
                                        </a>
                                    </td>
                                    <td class="Registrar-Gestión-Todos-Clientes">
                                        <a>
                                            No
                                        </a>
                                    </td>

                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" href="#">
                                            <i class="fas fa-pencil-alt">
                                            </i>

                                        </a>
                                        
                                        <a class="btn btn-danger btn-sm" href="#">
                                            <i class="fas fa-trash">
                                            </i>

                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                   
                                    <td>
                                        <a>
                                            Cobranza Externa 4
                                        </a>
                                        <br />
                                       
                                    </td>
                                    <td>
                                        <a>
                                            Lorem Ipsum
                                        </a>
                                    </td>
                                    <td class="project_progress">
                                        <a>
                                            Lorem Ipsum
                                        </a>
                                    </td>
                                    <td class="Registrar-Gestión-Todos-Clientes">
                                        <a>
                                            No
                                        </a>
                                    </td>

                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" href="#">
                                            <i class="fas fa-pencil-alt">
                                            </i>

                                        </a>
                                        
                                        <a class="btn btn-danger btn-sm" href="#">
                                            <i class="fas fa-trash">
                                            </i>

                                        </a>
                                    </td>
                                </tr>




                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-4">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Perfil</h3>

                        <div class="card-tools">
                            <a class="btn btn-tool" href="/seguridad/Grupos" role="button"> <i class="fas fa-times"></i></a>

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">


                        <div class="form-group">
                            <label for="exampleInputEmail1">Grupo</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Grupo">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Método de Asignación</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Método de Asignación">
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea class="form-control" rows="3" placeholder="Descripción..."></textarea>
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-default">Borrar</button>
                            <button type="button" class="btn btn-primary float-right">Guardar</button>
                        </div>

                       

                        <!-- /.form-group -->


                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.card -->

        
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


